@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="main-content">
    <div class="left-section">

        <h-name>Katsinas</h-name>
        <h-name>Katsinas</h-name>

        <br>

        <h-title>Digital Product Manager</h-title>
        <h-title>Computer Graphics Generalist</h-title>
        
        <br>

        <p-body>I have over 3 years experience in identifying <p-bold>Strategic Opportunities</p-bold> and facilitating <p-bold>Sustainable Digital Transformations</p-bold>.</p-body>
        <p-body>Expert in melding <p-bold>organizational</p-bold> and <p-bold>analytical</p-bold> skills with <p-bold>empathy</p-bold>, focusing on team development to ensure successful delivery of <p-bold>complex digital products</p-bold>.</p-body>
        <p-body>With a strong foundation in <p-bold>Corporate Sustainability</p-bold> and <p-bold>Emerging Technologies</p-bold>, I possess keen insights into strategic market positioning within the ESG and tech sectors.</p-body>
        <p-body>My <p-bold>attention to detail</p-bold> and comprehensive understanding of the larger picture allow for swift, <p-bold>strategic decision-making</p-bold>.</p-body>
        <p-body>Proficient in <p-bold>storytelling</p-bold> and <p-bold>visual communication</p-bold>, I excel at articulating concepts and rallying individuals and teams towards common objectives</p-body>

    </div>
    
    <div class="right-section">
       
        <div id="imageCarouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.Images.Count; i++)
                {
                    <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="@Model.Images[i].ImgAlt"></button>
                }
            </div>

            <div class="carousel-inner">
                @for (int i = 0; i < Model.Images.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval= "@(i == 0 ? "5000" : "3000")">
                        <img src="@Url.Content($"~/{Model.Images[i].ImgPath}")" class="d-block w-100" alt="@Model.Images[i].ImgAlt">
                    </div>
                }
            </div>
        </div>
    </div>

    @* <div class="right-section">

        <div id="imageCarouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" arial-label="Image 1"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="1" arial-label="Image 2"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="2" arial-label="Image 3"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="3" arial-label="Image 4"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="4" arial-label="Image 5"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="5" arial-label="Image 6"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="6" arial-label="Image 7"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="7" arial-label="Image 8"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/images/picture_square.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/chair_02.png" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_02.png" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_05.png" class="d-block w-100" alt="Image 4">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_04.png" class="d-block w-100" alt="Image 5">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/chair_01.png" class="d-block w-100" alt="Image 6">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Lamp_06.png" class="d-block w-100" alt="Image 7">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_03.png" class="d-block w-100" alt="Image 8">
                </div>
            </div>

        </div>

    </div> *@
</div>