@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="main-content">
    <div class="left-section">

        <h-name>Kostas</h-name>
        <h-name>Katsinas</h-name>

        <br>

        <h-title>Digital Product Manager</h-title>
        <h-title>Computer Graphics Generalist</h-title>
        
        <br>

        <p-body>I have over 3 years experience in identifying <p-bold>Strategic Opportunities</p-bold> and facilitating <p-bold>Sustainable Digital Transformations</p-bold>.</p-body>
        <p-body>Expert in melding <p-bold>organizational</p-bold> and <p-bold>analytical</p-bold> skills with <p-bold>empathy</p-bold>, focusing on team development to ensure successful delivery of <p-bold>complex digital products</p-bold>.</p-body>
        <p-body>With a strong foundation in <p-bold>Corporate Sustainability</p-bold> and <p-bold>Emerging Technologies</p-bold>, I possess keen insights into strategic market positioning within the ESG and tech sectors.</p-body>
        <p-body>My <p-bold>attention to detail</p-bold> and comprehensive understanding of the larger picture allow for swift, <p-bold>strategic decision-making</p-bold>.</p-body>
        <p-body>Proficient in <p-bold>storytelling</p-bold> and <p-bold>visual communication</p-bold>, I excel at articulating concepts and rallying individuals and teams towards common objectives</p-body>

    </div>
    
    <div class="right-section">
       
        <div id="imageCarouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.Images.Count; i++)
                {
                    <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="@Model.Images[i].ImgAlt"></button>
                }
            </div>

            <div class="carousel-inner">
                @for (int i = 0; i < Model.Images.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval= "@(i == 0 ? "5000" : "3000")">
                        <img src="@Url.Content($"~/{Model.Images[i].ImgPath}")" class="d-block w-100" alt="@Model.Images[i].ImgAlt">
                    </div>
                }
            </div>
        </div>
    </div>
</div>